.preview-index
	margin: 32px 0
	min-height: 250px
	border: var(--border)
	border-radius: var(--border-radius)
	background-color: var(--background-color)
	transition: all .25s ease
	display: block
	div
		transition: all .25s linear
		>.description
			padding: 16px
			color: var(--text-color)
			font-size: 1.3em
			line-height: 1.4em
		>.buttons
			padding: 16px
			width: 100%
			justify-content: flex-end
	>.ts.dimmer
		border-radius: var(--border-radius)
		&.active + div
			filter: blur(1px)

@media screen and  (max-width:768px)
	.preview-index
		font-size: 12px