* {
    font-style: normal;
    font-family: -apple-system, "Source Han Sans TC", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}


/*
	文章的文字可讀性提升
*/

p {
    font-size: 16px;
    line-height: 1.8em;
}


/*
	文章內頁圖片修正及樣式美化
*/

img {
    max-width: 100%;
    max-width: calc(100% - 20px);
    margin: 10px;
}


/*
 	圖片對齊(置右、置中)
*/

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignright {
    float: right;
}

img.alignleft {
    float: left;
}


/*
	板岩裡的圖片放大及模糊
*/

.ts.slate .image>img {
    filter: blur(2px);
    transform: scale(1.1);
}