body {
    background-repeat: no-repeat;
    background: linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 135, 135), rgb(233, 173, 255), rgb(160, 255, 121));
    background-size: 400%;
    animation: 40s Gradient linear infinite;
}

@keyframes Gradient {
    0%,
    100% {
        background-position: 20% 20%
    }
    50% {
        background-position: 70% 70%
    }
}

#login {
    width: 380px;
    margin: 0;
    background-color: #00000057;
    min-height: 80vh !important;
    padding: 10vh 0 !important;
    box-shadow: 0px 0 20px 0px #00000052;
}

.login .message {
    background-color: #00000033;
    color: white;
}

.login form {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.login label,
.login input:not([type="checkbox"]):not([type="submit"]) {
    color: #ffffff;
    font-size: 24px;
    text-shadow: 0px 1px 3px #00000061;
}

.login input:not([type="checkbox"]):not([type="submit"]) {
    border-color: #66afe900;
    border-bottom-color: #d4d4d4;
    transition: all 0.1s linear;
    box-shadow: none;
}

.login input:not([type="checkbox"]):not([type="submit"]):hover {
    border-bottom-color: #aaa;
    box-shadow: none;
}

.login input:not([type="checkbox"]):not([type="submit"]):focus {
    outline: 0;
    box-shadow: inset 0px -11px 0px -10px #66afe9;
    border-bottom-color: #66afe9;
}

.login a,
.login form .forgetmenot label,
#wp-submit {
    color: #ffffff !important;
    font-size: 20px;
    text-shadow: 0px 1px 3px #00000061;
}

.login h1 a {
    display: none
}

.login form .input {
    background: #00000000;
}

.login #login_error,
.login .message {
    border: none !important;
}

#wp-submit {
    box-shadow: none !important;
    border: none !important;
    background: #ffffff58;
    height: 37px;
    line-height: 29px;
}

#wp-submit:hover {
    background: #ffffff95;
}