/*
    預設的樣式
*/
p{
	color: #646464;
    line-height: 1.5;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
	margin: calc(2rem - .14285em) 0 1rem;
    line-height: 1.2857em;
    color: #646464;
    font-weight: 500;
}
h1{font-size: 2.65rem;}
h2{font-size: 2.143rem;}
h3{font-size: 1.815rem;}
h4{font-size: 1.42rem;}
h5{font-size: 1.25rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1.12rem;}
blockquote{
  padding-left: 1em !important;
  padding-top: 0 !important;
  border-left: 3px solid #e6e6e6 !important;
}
blockquote>p{  
	color: #959595;
}
blockquote>cite{  
    opacity: .6;
	color: #959595;
}